@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
a {
  text-decoration: none;
  color: black;
}
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
button:hover {
  cursor: pointer;
}
.bloc_page {
  margin-left: 50px;
}
/*Menu*/
.menu_two {
  display: none;
}
.menu_container {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  font-size: 1.13em;
  width: 500px;
}
.menu_hover {
  padding-top: 28px;
}
.menu_hover:hover {
  border-top: solid 2px #0065fc;
  color: #0065fc;
}
.menu :nth-child(3) {
  font-weight: bold;
  color: #0065fc;
}

.reservia {
  margin-top: 30px;
  width: 100px;
  height: auto;
}
.title_research {
  font-size: 1.35em;
}
.text_research {
  margin-top: 10px;
}
.research_container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.form_container {
  margin-top: 30px;
}
.gps {
  width: 52px;
  height: 50px;
  font-size: 1.13em;
  border-radius: 11px 0px 0px 11px;
  background-color: #f2f2f2;
  border: none;
  position: relative;
  left: 3.9px;
}
.search {
  border: solid 1px#f2f2f2;
  height: 50px;
  width: 335px;
}
input[type="search"] {
  font-size: 1.13em;
  font-weight: bold;
  padding-left: 18px;
}
.fa-search {
  display: none;
}
.search_button {
  height: 50px;
  width: 135px;
  background-color: #0065fc;
  border: none;
  border-radius: 0px 11px 11px 0px;
  color: white;
  position: relative;
  right: 4px;
  font-size: 1.13em;
  font-weight: bold;
}
.filter_container {
  margin-top: 30px;
  display: flex;
  width: 60%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.text_filter {
  margin-top: 15px;
  font-weight: bold;
  margin-right: 12px;
  font-size: 1.13em;
}
.filter_item {
  height: 50px;
  background-color: white;
  border-radius: 25px;
  border: 2.4px solid #f2f2f2;
  padding-right: 20px;
  font-weight: bold;
  font-size: 1.13em;
}
.filter_item:hover {
  background-color: #deebff;
  color: #0065fc;
}
.filter_item:hover .filter_icon {
  background-color: #0065fc;
  color: #deebff;
}
.filter_icon {
  color: #0065fc;
  font-size: 1.1em;
  background-color: #deebff;
  border-radius: 100%;
  position: relative;
  right: 12px;
  padding: 12px;
}
.fa-child {
  padding-left: 5px;
  padding-right: 5px;
}
.fa-heart {
  padding-left: 2px;
  padding-right: 2px;
}

.info_container {
  margin-top: 30px;
}
.fa-info {
  color: #0065fc;
  border: 2px solid #f2f2f2;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  padding-top: 1px;
  margin-right: 10px;
}
.container_lodging {
  display: flex;
  margin-top: 40px;
}
.background_lodging {
  background-color: #f2f2f2;
  width: 65%;
  height: auto;
  border-radius: 20px;
}
.title_lodging {
  margin-left: 55px;
  margin-top: 40px;
}
.lodging {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.lodging_item {
  padding: 5px 5px 5px 5px;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  height: 250px;
  margin-top: 20px;
  width: 28%;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
}
.lodging_image {
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.description {
  margin-top: 5px;
  padding-left: 10px;
}
.star {
  margin-top: 5px;
  color: #0065fc;
}
.grey_star {
  color: #f2f2f2;
}
.lodging_title_description {
  font-weight: bold;
}
.link_more {
  font-weight: bold;
  display: block;
  margin: 40px 0 0 60px;
  font-size: 1.13em;
}
.container_aside_lodging {
  border-radius: 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 520px;
  height: 720px;
  margin-left: 70px;
}
.trending {
  display: flex;
  justify-content: space-between;
}
.title_aside {
  margin-left: 60px;
}
.chart {
  margin-right: 60px;
  font-size: 1.6em;
}
.container_aside_item {
  padding: 5px;
  display: flex;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  width: 85%;
  height: 160px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
}
.aside_image {
  width: 40%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

.container_aside {
  margin-left: 55px;
  height: 80%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.description_aside {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 20px;
}
.aside_title_description {
  font-weight: bold;
}
.price {
  font-weight: bold;
}
