@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
a {
  text-decoration: none;
  color: black;
}
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
button:hover {
  cursor: pointer;
}
.bloc_page {
  margin-left: 50px;
}
/*Menu*/
.menu_two {
  display: none;
}
.menu_container {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  font-size: 1.13em;
  width: 500px;
}
.menu_hover {
  padding-top: 28px;
}
.menu_hover:hover {
  border-top: solid 2px #0065fc;
  color: #0065fc;
}
.menu :nth-child(3) {
  font-weight: bold;
  color: #0065fc;
}

.reservia {
  margin-top: 30px;
  width: 100px;
  height: auto;
}
.title_research {
  font-size: 1.35em;
}
.text_research {
  margin-top: 10px;
}
.research_container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.form_container {
  margin-top: 30px;
}
.gps {
  width: 52px;
  height: 50px;
  font-size: 1.13em;
  border-radius: 11px 0px 0px 11px;
  background-color: #f2f2f2;
  border: none;
  position: relative;
  left: 3.9px;
}
.search {
  border: solid 1px#f2f2f2;
  height: 50px;
  width: 335px;
}
input[type="search"] {
  font-size: 1.13em;
  font-weight: bold;
  padding-left: 18px;
}
.fa-search {
  display: none;
}
.search_button {
  height: 50px;
  width: 135px;
  background-color: #0065fc;
  border: none;
  border-radius: 0px 11px 11px 0px;
  color: white;
  position: relative;
  right: 4px;
  font-size: 1.13em;
  font-weight: bold;
}
.filter_container {
  margin-top: 30px;
  display: flex;
  width: 60%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.text_filter {
  margin-top: 15px;
  font-weight: bold;
  margin-right: 12px;
  font-size: 1.13em;
}
.filter_item {
  height: 50px;
  background-color: white;
  border-radius: 25px;
  border: 2.4px solid #f2f2f2;
  padding-right: 20px;
  font-weight: bold;
  font-size: 1.13em;
}

.filter_icon {
  color: #0065fc;
  font-size: 1.1em;
  background-color: #deebff;
  border-radius: 100%;
  position: relative;
  right: 12px;
  padding: 12px;
}
.fa-child {
  padding-left: 5px;
  padding-right: 5px;
}
.fa-heart {
  padding-left: 2px;
  padding-right: 2px;
}

.info_container {
  margin-top: 30px;
}
.fa-info {
  color: #0065fc;
  border: 2px solid #f2f2f2;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  padding-top: 1px;
  margin-right: 10px;
}
