@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
a {
  text-decoration: none;
  color: black;
}
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
button:hover {
  cursor: pointer;
}
.bloc_page {
  margin-left: 50px;
}
/*Menu*/
.menu_two {
  display: none;
}
.menu_container {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  font-size: 1.13em;
  width: 500px;
}
.menu_interaction {
  padding-top: 28px;
}
.menu_interaction:hover {
  border-top: solid 2px #0065fc;
  color: #0065fc;
}
.menu :nth-child(3) {
  font-weight: bold;
  color: #0065fc;
}

.reservia {
  margin-top: 30px;
  width: 100px;
  height: auto;
}
.title_research {
  font-size: 1.35em;
}
.text_research {
  margin-top: 10px;
}
.research_container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.form_container {
  margin-top: 30px;
}
.gps {
  width: 52px;
  height: 50px;
  font-size: 1.13em;
  border-radius: 11px 0px 0px 11px;
  background-color: #f2f2f2;
  border: none;
  position: relative;
  left: 3.9px;
}
.search {
  border: solid 1px#f2f2f2;
  height: 50px;
  width: 335px;
}
input[type="search"] {
  font-size: 1.13em;
  font-weight: bold;
  padding-left: 18px;
}
.fa-search {
  display: none;
}
.search_button {
  height: 50px;
  width: 135px;
  background-color: #0065fc;
  border: none;
  border-radius: 0px 11px 11px 0px;
  color: white;
  position: relative;
  right: 4px;
  font-size: 1.13em;
  font-weight: bold;
}
.filter_container {
  margin-top: 30px;
  display: flex;
  width: 60%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.text_filter {
  margin-top: 15px;
  font-weight: bold;
  margin-right: 12px;
  font-size: 1.13em;
}
.filter_item {
  height: 50px;
  background-color: white;
  border-radius: 25px;
  border: 2.4px solid #f2f2f2;
  padding-right: 20px;
  font-weight: bold;
  font-size: 1.13em;
}
.filter_item:hover {
  background-color: #deebff;
  color: #0065fc;
}
.filter_item:hover .filter_icon {
  background-color: #0065fc;
  color: #deebff;
}
.filter_icon {
  color: #0065fc;
  font-size: 1.1em;
  background-color: #deebff;
  border-radius: 100%;
  position: relative;
  right: 12px;
  padding: 12px;
}
.fa-child {
  padding-left: 5px;
  padding-right: 5px;
}
.fa-heart {
  padding-left: 2px;
  padding-right: 2px;
}

.info_container {
  margin-top: 30px;
}
.fa-info {
  color: #0065fc;
  border: 2px solid #f2f2f2;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  padding-top: 1px;
  margin-right: 10px;
}
.container_lodging {
  display: flex;
  margin-top: 40px;
}
.background_lodging {
  background-color: #f2f2f2;
  width: 65%;
  height: auto;
  border-radius: 20px;
}
.title_lodging {
  margin-left: 55px;
  margin-top: 40px;
}
.lodging {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.lodging_item {
  padding: 5px 5px 5px 5px;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  height: 250px;
  margin-top: 20px;
  width: 28%;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
}
.lodging_image {
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.description {
  margin-top: 5px;
  padding-left: 10px;
}
.star {
  margin-top: 5px;
  color: #0065fc;
}
.grey_star {
  color: #f2f2f2;
}
.lodging_title_description {
  font-weight: bold;
}
.link_more {
  font-weight: bold;
  display: block;
  margin: 40px 0 0 60px;
  font-size: 1.13em;
}
.container_aside_lodging {
  border-radius: 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 520px;
  height: 720px;
  margin-left: 70px;
}
.trending {
  display: flex;
  justify-content: space-between;
}
.title_aside {
  margin-left: 60px;
}
.chart {
  margin-right: 60px;
  font-size: 1.6em;
}
.container_aside_item {
  padding: 5px;
  display: flex;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  width: 85%;
  height: 160px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
}
.aside_image {
  width: 40%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

.container_aside {
  margin-left: 55px;
  height: 80%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.description_aside {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 20px;
}
.aside_title_description {
  font-weight: bold;
}
.price {
  font-weight: bold;
}
.activites {
  margin-top: 50px;
}
.activites_container {
  margin-top: 20px;
  width: 97%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.small_container {
  margin-top: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.general_activites_background_proprety {
  width: 405px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
}
.general_avtivites_image_proprety {
  border-radius: 20px 20px 0px 0px;
  width: 405px;
}
.box_background_one_four {
  margin-top: 20px;
  height: 650px;
}
.box_image_one {
  object-fit: none;
  height: 600px;
  object-position: 40% 65%;
}
.box_image_two {
  object-fit: cover;
  height: 315px;
  object-position: center;
}
.box_background_two {
  height: 365px;
}
.box_image_three {
  object-fit: cover;
  height: 180px;
  object-position: top left;
}
.box_background_three {
  margin-top: 20px;
  height: 230px;
}
.box_image_four {
  object-fit: none;
  height: 600px;
}
.box_image_five {
  object-fit: cover;
  height: 245px;
  object-position: 50% 20%;
}
.box_background_five {
  height: 295px;
}
.box_image_six {
  object-fit: cover;
  height: 250px;
  object-position: 50% 20%;
}
.box_background_six {
  margin-top: 20px;
  height: 300px;
}
.description_activites {
  margin-top: 10px;
  font-weight: bold;
  padding-left: 25px;
}
.footer_container {
  width: 70%;
  padding-top: 50px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 50px;
}
.footer_background {
  background-color: #f2f2f2;
  width: auto;
}
.li_footer {
  padding-top: 10px;
  list-style: none;
}
@media screen and (max-width: 1420px) and (min-width: 710px) {
  .bloc_page {
    margin-left: 0px;
  }
  .menu_interaction:hover {
    color: black;
    border-top: none;
  }
  .menu_interaction:active {
    border-bottom: blue 2px solid !important;
    color: #0065fc;
  }
  .menu_container {
    display: none;
  }
  .menu_two {
    display: block;
  }
  .upper_container {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 0 100px;
  }
  .lower_container {
    display: flex;
    justify-content: space-around;
  }
  .upper_container :nth-child(2) {
    font-weight: bold;
    color: #0065fc;
    margin-top: 18px;
  }
  .lower_container :nth-child(1) {
    width: 50%;
    text-align: center;
    margin-bottom: 22px;
    padding-bottom: 20px;
    border-bottom: lightgrey 2px solid;
  }
  .lower_container :nth-child(2) {
    width: 50%;
    text-align: center;
    margin-bottom: 22px;
    border-bottom: lightgrey 2px solid;
  }
  .reservia {
    margin-top: 0px;
  }
  .research_container {
    margin-left: 20px;
  }
  .form_container {
    margin-top: 40px;
  }
  .search {
    width: 475px;
  }
  .filter_container {
    width: 90%;
    height: 120px;
    margin-left: 20px;
  }
  .container_lodging {
    display: flex;
    flex-direction: column-reverse;
  }
  .info_container {
    margin-top: 0px;
    margin-left: 20px;
  }
  .background_lodging {
    width: 100%;
    margin-top: 20px;
    height: 720px;
  }
  .container_aside_lodging {
    margin-left: 0px;
    width: 100%;
    height: 380px;
  }
  .container_aside_item {
    display: flex;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    height: 250px;
    width: 28%;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
  }
  .container_aside {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-top: 40px;
  }
  .aside_image {
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  }
  .aside_title_description {
    padding-right: 0px;
  }
  .trending {
    padding-top: 10px;
  }
  .title_activites {
    margin-left: 40px;
  }
  .activites_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .general_activites_background_proprety {
    width: 250px;
  }
  .general_avtivites_image_proprety {
    width: 250px;
  }
  .box_background_three,
  .box_background_six {
    margin-top: 0px;
  }
  .activites_container :nth-child(1) {
    order: 3;
  }
  .activites_container :nth-child(2) {
    order: 1;
  }
  .activites_container :nth-child(3) {
    order: 2;
  }
  .activites_container :nth-child(4) {
    order: 4;
  }
  .box_image_two,
  .box_image_three,
  .box_image_five,
  .box_image_six {
    height: 245px;
    width: 100%;
  }
  .box_background_two,
  .box_background_three,
  .box_background_six,
  .box_background_five {
    height: 295px;
    width: 48%;
  }
  .small_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .box_background_one_four {
    width: 48%;
  }
  .box_image_one,
  .box_image_four {
    width: 100%;
  }
  .footer_container {
    width: 100%;
    justify-content: space-around;
    margin-left: 0px;
  }
}
@media screen and (max-width: 710px) {
  .bloc_page {
    margin-left: 0px;
  }
  .menu_container {
    display: none;
  }
  .menu_two {
    display: block;
  }
  .menu_interaction:hover {
    color: black;
    border-top: none;
  }
  .menu_interaction:active {
    border-bottom: blue 2px solid !important;
    color: #0065fc;
  }
  .upper_container {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0 10px;
  }
  .lower_container {
    display: flex;
    justify-content: space-around;
  }
  .upper_container :nth-child(2) {
    font-weight: bold;
    color: #0065fc;
    margin-top: 18px;
  }
  .lower_container :nth-child(1) {
    width: 50%;
    text-align: center;
    margin-bottom: 22px;
    padding-bottom: 20px;
    border-bottom: lightgrey 2px solid;
  }
  .lower_container :nth-child(2) {
    width: 50%;
    text-align: center;
    margin-bottom: 22px;
    border-bottom: lightgrey 2px solid;
  }
  .reservia {
    padding-top: 0;
    margin-top: 0px;
  }
  .title_research {
    padding-top: 0;
    width: 90%;
  }
  .research_container {
    margin-top: 10px;
    flex-wrap: nowrap;
    margin-left: 10px;
    width: 97%;
  }
  .search {
    width: 68%;
  }
  .search_button {
    width: 50px;
    border-radius: 10px;
    right: 15px;
  }
  .search_button_text {
    display: none;
  }
  .fa-search {
    display: inline;
  }
  .filter_container {
    display: flex;
    flex-wrap: wrap;
    width: 345px;
    margin-left: 15px;
  }
  .filter_item {
    margin-top: 10px;
  }

  .text_filter {
    margin-bottom: 10px;
    padding-right: 110px;
    display: flex;
    flex-direction: row;
  }
  .fa-info {
    font-size: 1em;
    padding: 3px;
  }
  .text_info {
    display: inline-block;
    font-size: 1.13em;
    width: 80%;
  }
  .info_container {
    display: flex;
    margin-left: 15px;
  }
  .title_aside {
    margin-left: 15px;
    margin-top: 15px;
  }
  .chart {
    margin-top: 15px;
    margin-right: 15px;
  }
  .container_aside_item {
    width: 90%;
    margin-left: 3.5%;
  }
  .container_aside {
    margin-left: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .container_aside_lodging {
    border-radius: unset;
    width: auto;
    margin-left: 0px;
  }
  .title_lodging {
    margin-left: 0px;
  }
  .container_lodging {
    display: flex;
    flex-direction: column-reverse;
  }
  .background_lodging {
    margin-left: 3.5%;
    width: 94%;
    background-color: white;
  }
  .lodging {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  .lodging_item {
    width: 100%;
  }
  .link_more {
    margin-left: 0;
  }
  .aside_title_description {
    padding-right: 0px;
  }
  .activites {
    margin-left: 3.5%;
    width: 93.5%;
  }
  .activites_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .general_activites_background_proprety {
    padding: 5px 5px 5px 5px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    height: 220px;
    width: 100%;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
  }
  .general_avtivites_image_proprety {
    width: 100%;
    height: 170px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  }
  .footer_container {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
  }
  .our_lodging,
  .help {
    margin-top: 10px;
  }
}
@media screen and (max-width: 320px) and (min-width: 280px) {
  .search {
    width: 200px;
  }
  .filter_container {
    width: 300px;
  }
  input[type="search"] {
    padding-left: 4px;
  }
}
@media screen and (max-width: 280px) {
  .search {
    width: 160px;
  }
  * {
    font-size: 0.99em;
  }
  .filter_container {
    width: 260px;
  }
  .filter_icon {
    right: 3px;
  }
}
